/* color palette:  */
/* #000000 just black, black work better */
/* #f0dcc3 cream color */
/* #ee84c2 pink */
/* #87d182 green */

* {
  font-size: 12px;
  border: inherit;
  box-shadow: inherit;
  text-shadow: inherit;
}

*:hover {
  color: #87d182;
}

window#waybar {
  background: none;
  all: unset;
  border: 2px solid transparent;
  /* border-bottom: 1px solid transparent; */
}

/* CUSTOM PL */

#custom-pl {
  color: #87d182;
  font-size: 17px;
  background: alpha(#000000, 0.7);
  border-radius: 8px;
  padding: 2px 8px;
  margin-right: 8px;
  border: 0;
  transition: 0.2s;
}

#custom-pl:hover {
  text-shadow: 0px 0px 4px alpha(#87d182, 0.7);
}

/* WORKSPACES */

#workspaces {
  background: alpha(#000000, 0.7);
  border-radius: 8px;
  transition: none;
}

#workspaces button {
  padding: 2px 4px;
  border: 0;
  color: #f0dcc3;
}

#workspaces button:hover {
  background: transparent;
  border: 0;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #87d182;
  transition: 0.2s;
}

#workspaces button.urgent {
  color: #ee84c2;
  transition: 0.2s;
}

#workspaces button.active {
  color: #87d182;
  text-shadow: 0px 0px 4px alpha(#87d182, 0.7);
  transition: 0.2s;
}

/* MODULES */

.modules-left {
  border: 0;
}

.modules-right {
  border: 0;
}

.modules-center {
  border-radius: 8px;
  padding: 0 8px;
  color: #f0dcc3;
  border: 0;
  background: alpha(#000000, 0.7);
}

/* RAM AND MEMORY */

#memory {
  transition: 0.2s;
}

#cpu {
  transition: 0.2s;
  margin-right: 16px;
}

/* GROUP EXPAND */

#expand {
  background-color: alpha(#000000, 0.7);
  border-radius: 8px;
  margin-right: 8px;
  color: #f0dcc3;
}

#language {
  margin-left: 12px;
}

#language,
#pulseaudio,
#network,
#backlight,
#battery {
  transition: 0.2s;
  margin-right: 12px;
}

/* CLOCK */

#clock {
  background-color: alpha(#000000, 0.7);
  border-radius: 8px;
  padding: 0 8px;
  border: 0;
  color: #f0dcc3;
  transition: 0.2s;
}

/* TOOLTIP */

tooltip {
  background-color: alpha(#000000, 0.7);
  border-radius: 8px;
}

tooltip label {
  color: #f0dcc3;
}
